<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.ipati.componentmusicplayer">

    <application>
        <meta-data
            android:name="com.dev.ipati.smartMusicPlayerLibrary.GlideModule"
            android:value="GlideModule">

        </meta-data>
    </application>

</manifest>